<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./librairie.css">
</head>
<body>
    <div class="lib-content">
        <div class="title"><h1>Librairie</h1></div>
        <div class="menu-lib">
            <button class="tout-lib">Tout</button>
            <button class="master-lib">Master</button>
            <button class="lic-lib">Licence</button>
            <button class="fav-lib">Favoris</button>
        </div>
        <div class="lib-area">
            <div class="lib-item">
                <img src="../../assets/images/pdf.svg" alt="">
                <div class="lib-cta">
                    <h3>Suite et fonction derivalbe</h3>
                    <div class="plus"><span>+</span></div>
                </div>
                <p>Licence 1</p>
            </div>
            <div class="lib-item">
                <img src="../../assets/images/pdf.svg" alt="">
                <div class="lib-cta">
                    <h3>Suite et fonction derivalbe</h3>
                    <div class="moin"><span>-</span></div>
                </div>
                <p>Licence 1</p>
            </div>
            <div class="lib-item">
                <img src="../../assets/images/pdf.svg" alt="">
                <div class="lib-cta">
                    <h3>Suite et fonction derivalbe</h3>
                    <div class="plus"><span>+</span></div>
                </div>
                <p>Licence 1</p>
            </div>
            <div class="lib-item">
                <img src="../../assets/images/pdf.svg" alt="">
                <div class="lib-cta">
                    <h3>Suite et fonction derivalbe</h3>
                    <div class="plus"><span>+</span></div>
                </div>
                <p>Licence 1</p>
            </div>
        </div>
        <div class="contact-support ajout">
            <a href="">Contacter le support pour ajouter un document +</a>
        </div>
    </div>
</body>
</html>