@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.spinner-container {
  position: absolute;
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
  /* border: 1px solid red; */
  /* padding: 30px; */
  width: 100%;
  height: 100%;
}

.loading-spinner {
  position: absolute;
    left: 45%;
    top: 45%;
    z-index: 701;
    /* padding: 20px; */
    /* background-color: green; */
    width: 40px;
    height: 40px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #27BC48; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}