/* <=========================================FOOTER ARCHE==========================> */


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
footer{
    background-color: #fff;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 15px;
}
.content-text ul{
    list-style-type: none;
}
.content-text{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 10px;
}
.text1 h1{
    margin-left: 1.3em;
}
.termes{
    display: flex;
    margin-top: 70px;
    gap: 2rem;
}
.text1 ul li{
    margin-bottom: 5px;
}
.text2 ul li{
    margin-bottom: 5px;
} 
.text3 ul li{
    margin-bottom: 5px;
    margin-left: 1em;
}
.text4 h1{
    margin-left: 1.35em;
}
.text4 ul {
    display: flex;
}
.img > ul{
    margin-right: 40px;
    margin-left: 0;
}
.img > ul> li{
    margin-inline-end: 25px;
}
.archeBeta li{
    margin-left: 2px;
    margin-bottom: 10px; 
}
li a{
    text-decoration: none;
    color: inherit;
} 
.hr-footer {
    background-color: white;
    margin: 0;
    opacity: 0.01;
}
.el-hover-footer:hover {
    cursor: pointer;
    text-decoration: underline;
}
/* <=================================MEDIA QUERRY=======================> */

@media only screen and (max-width: 600px){
    .content-text{
        display: flex;
        flex-direction: column;
    }
    .content-text div{
        margin-inline-end: 1em;
    }
    .termes{
        margin: 0;
        padding: 0;
        display: block;
    }
    .text1 h1{
        margin-right: 4px;
    }
    .text1 ul li{
        margin-bottom: 5px;
    }
    .text2 ul li{
        margin: 0;
        margin-bottom: 5px;
    }
    .text3{
        margin-bottom: 10px;
    }
    .text3 ul li{
        margin: 0;
        margin-bottom: 5px;
    }
    .text4 ul li{
        margin: 0;
    }
    .text4 h1{
        margin-left: 1.4em;
    }
    .img ul li{
        margin-inline-end: 20px;
    } .archeBeta{
        margin-left: 3.3px;
    }
}